@page "/Terminal"

<link href="_content/XtermBlazor/XtermBlazor.min.css" rel="stylesheet" />
<script src="_content/XtermBlazor/XtermBlazor.min.js"></script>

<div id="Main">
	<div id="Terminal">
		<Xterm @ref="XTerminal" Options="Options" OnKey="OnKey"></Xterm>
	</div>
	<div id="TerminalSelector">
		<select @onchange=@((e) => NavigationManager.NavigateTo(
			$"{NavigationManager.Uri.Substring(0, NavigationManager.Uri.IndexOf("?") > 0 ? NavigationManager.Uri.IndexOf("?") : NavigationManager.Uri.Length)}" + 
			$"?ReloadTerm={e.Value}"
			, true))>
			@{
				int i = 0;
			}
			@if (UserTerminalCollections is not null)
			{
				@foreach (var collection in UserTerminalCollections)
				{
					<option value="@i" selected="@(collection == CurrentCollection)" disabled="@collection.Occupied">@collection.Name</option>
					i++;
				}
			}
		</select>
		<input type="text" id="TerminalName" @bind=CurrentCollectionName />
		<button id="NewTerminal" @onclick=CreateTerminalButtonClick>New Terminal</button>
	</div>
</div>
